---
import Layout from "@/layouts/Layout.astro";
import ForgotPasswordForm from "@/components/forms/ForgotPasswordForm.tsx";
---

<Layout title="Forgot Password">
  <div class="flex items-center justify-center min-h-screen bg-gray-50">
    <ForgotPasswordForm client:load />
  </div>
</Layout>
