---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import ResetPasswordForm from "../components/forms/ResetPasswordForm.tsx";

const token = Astro.url.searchParams.get("token");

if (!token) {
  // Handle invalid link
  return Astro.redirect("/login"); // or show error, but for now redirect
}
---

<Layout title="Reset Password">
  <div class="flex items-center justify-center min-h-screen bg-gray-50">
    <ResetPasswordForm client:load {token} />
  </div>
</Layout>
